* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
}

section {
    padding: 40px;
}

aside {
    padding: 40px;
    background-color: #FEE7D6;
}